<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.playground">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Playground"
        tools:targetApi="31">
        <activity
            android:parentActivityName=".MainActivity2"
            android:label="Links inside Texts"
            android:name=".activities.TextLinks"
            android:exported="false" />
        <activity
            android:name=".activities.bitspizza.OrderActivity"
            android:exported="false"
            android:label="Create Order"
            android:parentActivityName=".activities.bitspizza.BitsPizzaMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.bitspizza.BitsPizzaMain"
            android:parentActivityName=".MainActivity2"
            android:exported="false"
            android:label="Bits And Pizza" />
        <activity
            android:parentActivityName=".activities.storage.StorageMainActivity"
            android:name=".activities.storage.ExternalStoragePublicDir"
            android:label="External Storage"
            android:exported="false" />
        <activity
            android:parentActivityName=".activities.storage.StorageMainActivity"
            android:name=".activities.storage.ExternalStorage"
            android:exported="false"
            android:label="External Storage" />
        <activity
            android:parentActivityName=".activities.storage.StorageMainActivity"
            android:name=".activities.storage.InternalStorage"
            android:exported="false"
            android:label="Internal Storage" />
        <activity
            android:name=".activities.ViewPager"
            android:exported="false"
            android:label="View Slider"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".activities.RecyclerActivity"
            android:parentActivityName=".MainActivity2"
            android:exported="false"
            android:label="Recycler View" />
        <activity
            android:parentActivityName=".activities.storage.StorageMainActivity"
            android:name=".activities.storage.SharedPreference"
            android:exported="false"
            android:label="Shared Preference" />
        <activity
            android:parentActivityName=".MainActivity2"
            android:name=".activities.ValidationActivity"
            android:exported="false"
            android:label="Input Validation" />
        <activity
            android:parentActivityName=".activities.storage.StorageMainActivity"
            android:name=".activities.storage.CacheStorage"
            android:exported="false"
            android:label="Cache Storage" />
        <activity
            android:parentActivityName=".MainActivity2"
            android:name=".activities.storage.StorageMainActivity"
            android:label="Local Storages"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity2"
            android:label="Swipe to remove, Hold and Drag"
            android:name=".activities.SwipeHold"
            android:exported="false" />
        <activity
            android:name=".activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.workout.WorkoutMainActivity"
            android:exported="false"
            android:label="Workout Fragments"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:label="Text and Image Switcher"
            android:parentActivityName=".MainActivity2"
            android:name=".activities.Switcher"
            android:exported="false" />
        <activity
            android:label="Parse data from external sources"
            android:parentActivityName=".MainActivity2"
            android:name=".activities.ParseData"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.WallPaper"
            android:exported="false"
            android:parentActivityName=".MainActivity2"
            android:label="Network Image Wallpaper" />
        <activity
            android:name=".activities.ExpandList"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Expanded List" />
        <activity
            android:name=".activities.starbuzz.DrinkMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.starbuzz.DrinkCategory"
            android:exported="false" />
        <activity
            android:label="Starbuzz Cafe"
            android:parentActivityName=".MainActivity"
            android:name=".activities.starbuzz.StarBuzz"
            android:exported="false" />
        <activity
            android:name=".activities.ListViewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="ListView" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Pull Down"
            android:name=".activities.PullRefresh"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.AdminContact"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.Notification"
            android:exported="false"
            android:label="Notification Styles" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.AnimationActivity"
            android:exported="false"
            android:label="Animation" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.FrameLayoutActivity"
            android:label="Frame View"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.PickerActivity"
            android:label="Pickers"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.SendSMS"
            android:label="Send Text Messages"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.BottomTab"
            android:label="Bottom Navigation"
            android:exported="false" />
        <activity
            android:name=".fragments.ProfileFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".fragments.HomeFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".fragments.AddFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.LaunchActivity"
            android:label="Launchers"
            android:exported="false" />
        <activity
            android:name=".activities.Stopwatch"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.ImgActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.Progressbar"
            android:exported="false" />
        <activity
            android:name=".activities.LockScreen"
            android:exported="false"
            android:label="Welcome !" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.ClockActivity"
            android:label="Ticking Time"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.ScrollVActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.ScrollHActivity"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.Bgcolor"
            android:label="Backgrounds"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.ScreenRotation"
            android:label="Rotations"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.SysInfo"
            android:exported="false"
            android:label="System Snapshot" />
        <activity
            android:name=".activities.Explicit_intent"
            android:exported="false"
            android:label="Intent" />
        <activity
            android:name=".activities.Implicit_intent"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:label="Intent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tabs.tab3"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.tabs.tab2"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar">
            <intent-filter>

                <!--
                to make this activity as the starting activity.
                So whenever the app will execute the user can see the splash screen
                at the beginning.
                -->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tabs.tab1"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:label="Card View"
            android:parentActivityName=".MainActivity"
            android:name=".activities.CardView"
            android:exported="false" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".activities.TabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AlertActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:parentActivityName=".MainActivity"
            android:label="Spinner"
            android:name=".activities.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTask">

            <!--
            Disabling for splash screen
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>
